.footer-section {
  background-color: $heroFooterColor;
}
.footer__contacts {
  margin: auto;
  padding: 60px 15px;
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    max-width: 480px;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    max-width: 768px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1200px;
    align-items: baseline;
    justify-content: space-between;
  }
}
.footer__address {
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}
.address__contact {
  font-style: inherit;
  margin-top: 20px;
}
.address__link {
  text-decoration: none;
  font-size: 14px;
  color: $titleColor;
  cursor: pointer;
  transition: color $timeDuration $timingFunction;
  &:hover,
  &:focus {
    color: $accentCcolor;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}
.contacts__link {
  margin-top: 9px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  transition: color $timeDuration $timingFunction;
  &:hover,
  &:focus {
    color: $accentCcolor;
  }
}
.contacts__list {
  @media screen and (min-width: 768px) {
    margin-bottom: 8px;
  }
}

.social__text {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $titleColor;
}
.footer__icons__list {
  @extend %icons;
}
.footer__icons__item:not(:last-child) {
  margin-right: 10px;
}
.footer__icons__link {
  @include icons-link;
  background-color: rgba(255, 255, 255, 0.1);
  &:hover,
  &:focus {
    background-color: $accentCcolor;
    fill: $titleColor;
  }
}

.footer__icons {
  @include icons-svg;
  fill: $titleColor;
}
.footer__social {
  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.form {
  @media screen and (min-width: 320px) and (max-width: 767px) {
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    flex-wrap: nowrap;
  }
}

.footer__form {
  @media screen and (min-width: 320px) and (max-width: 1199px) {
    justify-content: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    margin-top: 60px;
  }
}

.form__field input {
  display: flex;
  width: 100%;
  height: 50px;
  padding: 15px;
  background: $heroFooterColor;
  color: $titleColor;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  transition: border color $timeDuration $timingFunction;

  @media screen and (min-width: 480px) and (max-width: 1199px) {
    width: 450px;
    margin: auto;
    text-align: initial;
    margin-bottom: 20px;
  }
  @media screen and (min-width: 1200px) {
    width: 348px;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: initial;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    border-color: $titleColor;
    outline-style: none;
  }
}

.form__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 200px;
  height: 50px;
  background: $accentCcolor;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: $titleColor;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 20px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.form__send {
  margin-left: 10px;
  fill: $titleColor;
}
