.mobile__menu__btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  color: $secondaryTextColor;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
