/*Контакты хедер*/
.header__contacts__list {
  @media screen and(max-width: 767px) {
    display: none;
  }
  @media screen and(min-width: 1200px) {
    display: flex;
    justify-content: center;
  }
}
.header__contacts__link {
  color: $mainTextColorcolor;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color $timeDuration $timingFunction;
  &:hover,
  &:focus {
    color: $accentCcolor;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    padding-top: 24px;
    padding-bottom: 25px;
  }
}
.header__contacts__item:not(:last-child) {
  margin-right: 50px;
}
.header__contacts__icons {
  margin-right: 10px;
  fill: currentColor;
}
