/*Навигация*/
.nav {
  @media screen and (min-width: 768px) {
    display: inline-flex;
    align-items: center;
  }
}
.nav__list {
  @media screen and (max-width: 767px) {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}
.nav__link-current {
  position: relative;
  color: $accentCcolor;
}
.nav__link {
  display: block;
  position: relative;
  padding-top: 24px;
  padding-bottom: 25px;
  font-weight: 500;
  transition: color $timeDuration $timingFunction;
  &:hover,
  &:focus {
    color: $accentCcolor;
  }
}
.nav__link-current::after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  opacity: 1;
  background-color: $accentCcolor;
}
.current::after {
  opacity: 1;
}
