$mainTextColorcolor: #757575;
$secondaryTextColor: #212121;
$titleColor: #fff;
$accentCcolor: #2196f3;
$teamBackgroudColor: #e5e5e5;
$heroFooterColor: #2f303a;
$backgroundBtnColor: #f5f4fa;
$iconsColor: #afb1b8;
$iconsFooterColor: rgba(255, 255, 255, 0.1);
$mainFonts: "Roboto", sans-serif;
$logoFont: "Raleway", sans-serif;
$cardGetGap: 30px;
$timeDuration: 250ms;
$timingFunction: cubic-bezier(0.4, 0, 0.2, 1);
